/* 
COLORS...

Light-green: #7ed56f
Medium-green: #55c57a
Dark-green: #28b485

font family: lato
body: color #777

- line-heighs: 
    default: 1,
    small: 1.05
    paragraph: 1.6

- font-weights: 
    default: 400,
    Medium: 500
    Semi-Bold: 600
    Bold: 700      

## 03 BORDER RADIUS (px)

 - default: 9

## 04 SHADOWS
0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
0 2.4rem 4.8rem rgba(0, 0, 0, 0.35);

## 05 Spacing-system (px)

- spacing: 
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- font-sizes (px):   
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

*/
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

html {
  /* font-size: 10px;  changing the default font-size(16px) of browser*/
  /* In percentage */
  /* font-size: 10px / 16px = 0.625px = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  padding: 3rem; }

body {
  font-family: "Lato", "sans-serif";
  color: #777;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.2; }

.heading-primary {
  margin-bottom: 4.8rem;
  backface-visibility: hidden; }
  .heading-primary--main {
    font-size: 5.2rem;
    font-weight: 400;
    letter-spacing: 2.4rem;
    margin-bottom: 1rem;
    animation: moveInRight 1s ease-in-out; }
  .heading-primary--sub {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1.1rem;
    word-spacing: 2rem;
    margin-left: 0.5rem;
    animation: moveInLeft 1s ease-in-out; }

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 700;
  word-spacing: 2px;
  display: inline-block;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.2s;
  cursor: pointer; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.2);
    background-color: #f7f7f7; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem;
  line-height: 1.6; }
  .paragraph:not(:last-child) {
    margin-bottom: 3.5rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.btn:link, .btn:visited {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.6rem 3.2rem;
  border-radius: 100px;
  display: inline-block;
  cursor: pointer;
  font-size: 1.6rem;
  transition: all 0.2s;
  border: none;
  outline: none; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); }

.btn:active {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn--white {
  color: #777;
  background-color: #fff; }
  .btn--white::after {
    background-color: #fff; }
  .btn--white::before {
    background-color: #fff; }

.btn--green {
  color: #fff;
  background-color: #55c57a; }
  .btn--green::after {
    background-color: #55c57a; }
  .btn--green::before {
    background-color: #55c57a; }

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s ease-out; }

.btn::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s ease-out;
  transition-delay: 0.2s; }

.btn--animated {
  animation: moveInTop 1s ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: backwards; }
  .btn--animated:hover::after {
    transform: scaleX(1.2) scaleY(1.4) rotate(5deg);
    opacity: 0; }
  .btn--animated:hover::before {
    transform: scaleX(1.4) scaleY(1.6) rotate(5deg);
    opacity: 0; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 5px 3px;
  margin-top: 1.25rem;
  color: #28b485;
  border-bottom: 1px solid #28b485;
  transition: all 0.2s; }

.btn-text:hover {
  color: #fff;
  font-weight: 700;
  background-color: #28b485;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0px); }

.card {
  height: 50rem;
  position: relative;
  -moz-perspective: 150rem;
  perspective: 150rem; }
  .card__side {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: all 0.8s ease; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__image {
    background-size: cover;
    height: 23rem;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    background-blend-mode: screen; }
    .card__image--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../assets/nat-5.jpg); }
    .card__image--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../assets/nat-6.jpg); }
    .card__image--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../assets/nat-7.jpg); }
  .card__title {
    font-size: 2.8rem;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
    .card__title-text {
      padding: 1rem 1.5rem;
      display: inline-block; }
      .card__title-text--1 {
        background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
      .card__title-text--2 {
        background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
      .card__title-text--3 {
        background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 3.5rem; }
    .card__details ul {
      list-style-type: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        font-size: 1.5rem;
        padding: 1rem;
        text-align: center; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .card__cta-only {
      font-size: 1.4rem;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 1.2rem; }
    .card__cta-price {
      font-size: 6rem;
      font-weight: 100;
      margin-bottom: 10rem;
      color: #fff; }

.title-span {
  margin-top: -10px; }

.composition {
  position: relative;
  height: 20vh; }
  .composition__photo {
    width: 55%;
    position: absolute;
    cursor: pointer;
    box-shadow: 0 1.5rem 3.5rem rgba(0, 0, 0, 0.4);
    transition: all 0.2s; }
    .composition__photo--1 {
      left: 0;
      top: -10%; }
    .composition__photo--2 {
      right: 0%;
      top: 10%; }
    .composition__photo--3 {
      top: 65%;
      left: 18%; }
    .composition__photo:hover {
      transform: translateY(-10px) scale(1.1);
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
      outline: 5px solid #55c57a;
      z-index: 10; }
  .composition:hover .composition__photo:not(:hover) {
    scale: 0.95; }

.features-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 3.2rem 2.4rem;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
  cursor: pointer; }
  .features-box__icon {
    font-size: 5.5rem;
    margin-bottom: 2.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text; }
  .features-box:hover {
    transform: translateY(-1.5rem) scale(1.03);
    box-shadow: 0 1.5rem 4.5rem rgba(0, 0, 0, 0.2); }

.form__group:not(:last-child) {
  margin-bottom: 3rem; }

.form__input {
  font-family: inherit;
  color: inherit;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  display: block;
  padding: 1.5rem 2rem;
  margin-bottom: 0.7rem;
  border-bottom: 4px solid transparent;
  width: 90%;
  transition: border .2s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 4px solid #28b485; }
  .form__input:focus:invalid {
    border-bottom: 4px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  display: block;
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: 2rem;
  transition: all .2s; }

.form__input:placeholder-shown + .form__label {
  transform: translateY(-4rem);
  visibility: hidden;
  opacity: 0; }

.form__input:placeholder-shown {
  background-color: rgba(255, 255, 255, 0.5); }

.story {
  width: 75%;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 3px;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  padding: 6rem;
  padding-left: 8rem;
  transform: skewX(-12deg); }
  .story__profile {
    width: 15rem;
    height: 15rem;
    float: left;
    overflow: hidden;
    position: relative;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: cirle(50% at 50% 50%);
    transform: translateX(-2rem) skewX(12deg); }
    .story__profile-image {
      height: 100%;
      transform: scale(1.2) translateX(-3rem);
      transition: all 0.5s;
      backface-visibility: hidden; }
    .story__profile-caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.7rem;
      color: #fff;
      font-weight: 400;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
      opacity: 0;
      backface-visibility: hidden;
      transition: all 0.5s; }
      .story__profile-caption--1 {
        display: inline-block;
        transform: translateY(-90%);
        transition: inherit; }
      .story__profile-caption--2 {
        display: inline-block;
        transform: translateY(90%);
        transition: inherit; }
  .story__text {
    transform: skewX(12deg); }
  .story__description {
    font-size: 1.6rem;
    line-height: 1.6; }
  .story:hover .story__profile-caption {
    opacity: 1; }
  .story:hover .story__profile-caption--1 {
    transform: translateY(0); }
  .story:hover .story__profile-caption--2 {
    transform: translateY(0); }
  .story:hover .story__profile-image {
    filter: blur(4px) brightness(80%);
    transform: scale(1) translateX(-3rem); }

.row {
  max-width: 114.4rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left;
    padding: 1rem; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
  .row .col-1-of-2 {
    width: calc((100% - 4rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 *4rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 4rem) / 3) + 4rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 *4rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 4rem) / 4) + 4rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 4rem) / 4) + (2 * 4rem)); }

.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../assets/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    display: flex;
    justify-content: space-between;
    padding: 4rem 8rem; }
  .header__logo {
    width: 5%;
    height: 5%;
    cursor: pointer; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-transform: uppercase;
    text-align: center;
    color: #fff; }

.section-about {
  padding: 25rem 0rem;
  background-color: #f7f7f7;
  margin-top: -20vh; }

.section-features {
  padding: 15rem 0rem;
  margin-top: -10rem;
  background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../assets/nat-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
  background-color: #f7f7f7; }

.section-story {
  padding: 15rem 0;
  background-color: transparent;
  position: relative; }

.section-book {
  padding: 25rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 50%, transparent 50%), url(../assets/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  height: 50rem; }
  .book__form {
    width: 50%;
    padding: 5rem; }
