.btn {
  &:link,
  &:visited {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.6rem 3.2rem;
    border-radius: 100px;
    display: inline-block;
    cursor: pointer;
    font-size: $default-font-size;
    transition: all 0.2s;

    border: none;
    outline: none;
  }
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 10px rgba($color-black, 0.2);
  }
  &:active {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba($color-black, 0.2);
  }

  &--white {
    color: $color-text-light;
    background-color: $color-white;

    &::after {
      background-color: $color-white;
    }
    &::before {
      background-color: $color-white;
    }
  }

  &--green {
    color: $color-white;
    background-color: $color-primary;

    &::after {
      background-color: $color-primary;
    }
    &::before {
      background-color: $color-primary;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s ease-out;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s ease-out;
    transition-delay: 0.2s;
  }

  &--animated {
    animation: moveInTop 1s ease-in-out;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;

    &:hover {
      &::after {
        transform: scaleX(1.2) scaleY(1.4) rotate(5deg);
        opacity: 0;
      }

      &::before {
        transform: scaleX(1.4) scaleY(1.6) rotate(5deg);
        opacity: 0;
      }
    }
  }
}

.btn-text {
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    font-size: $default-font-size;
    padding: 5px 3px;
    margin-top: 1.25rem;
    color: $color-primary-dark;
    border-bottom: 1px solid $color-primary-dark;
    transition: all 0.2s;
  }

  &:hover {
    color: $color-white;
    font-weight: 700;
    background-color: $color-primary-dark;
    box-shadow: 0 1rem 1.5rem rgba($color-black, 0.2);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0px);
  }
}
