body {
  font-family: "Lato", "sans-serif";
  color: $color-text-light;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.2;
}

// IN HEADER Layout...
.heading-primary {
  margin-bottom: 4.8rem;
  backface-visibility: hidden;

  &--main {
    font-size: 5.2rem;
    font-weight: 400;
    letter-spacing: 2.4rem;
    margin-bottom: 1rem;
    animation: moveInRight 1s ease-in-out;
  }

  &--sub {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1.1rem;
    word-spacing: 2rem;
    margin-left: 0.5rem;
    animation: moveInLeft 1s ease-in-out;
  }
}
////////////////////////////////////////////////

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 700;
  word-spacing: 2px;
  display: inline-block;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.2s;

  cursor: pointer;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    box-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;
  line-height: 1.6;
  
  &:not(:last-child){
    margin-bottom: 3.5rem;
  }
}
